.get-username-part {
  margin-top: 100px;

  h3 {
    color: #212121;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 1.3;
  }

  label {
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
  }

  input {
    background-color: #fafafa;
    padding-right: 12px;
    padding-left: 12px;
    width: 263px;
    height: 49.5px;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    border: none;
    margin-bottom: 17px;
  }

  .search-button {
    width: 51px;
    height: 51px;
    border-radius: 8px;
    background-color: #fafafa;
    border: none;
    vertical-align: middle;
    margin-left: -10px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &-img {
      width: 18px;
      height: 18px;
      filter: invert(64%) sepia(1%) saturate(620%) hue-rotate(335deg)
        brightness(106%) contrast(86%);
    }

    &-has-value {
      background-color: #212121;

      .search-button-img {
        filter: invert(100%) sepia(10%) saturate(6850%) hue-rotate(292deg)
          brightness(114%) contrast(92%);
      }
    }
  }

  .form-error {
    color: #ff006c;
    font-size: 14px;
    font-weight: 500;
    padding-left: 12px;
  }
}
