.app-main.dark {
  background-color: #212121;
  color: #fff;

  h1,
  h2,
  h3,
  h4,
  h5,
  label {
    color: #ffffff;
  }

  .toggle-theme-button-img {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(291deg)
      brightness(108%) contrast(106%);
  }

  .get-username-part {
    input {
      background-color: #292929;
      color: #fff;
    }

    .search-button {
      background-color: #292929;

      &-img {
        filter: invert(40%) sepia(2%) saturate(0%) hue-rotate(9deg)
          brightness(95%) contrast(92%);
      }

      &-has-value {
        background-color: #ffffff;

        .search-button-img {
          filter: invert(18%) sepia(2%) saturate(19%) hue-rotate(30deg)
            brightness(94%) contrast(102%);
        }
      }
    }
  }

  .github-user {
    .user-info-detail {
      color: #656565;
    }

    a {
      color: #00a7ff;
    }

    strong {
      color: #fff;
    }

    .user-repo-single-container {
      background-color: #292929;

      img {
        filter: invert(38%) sepia(5%) saturate(10%) hue-rotate(14deg)
          brightness(99%) contrast(86%);
      }

      h4 {
        color: #00a7ff;
      }

      p {
        color: #fff;
      }

      span {
        color: #fff;
      }
    }

    .placeholder-box {
      background-color: #292929;
    }
  }
}
