@import "vars";

body {
  font-family: $font-family;
}

.app-main {
  min-width: 100vh;
  min-height: 100vh;
}

.container {
  width: 1000px;
  margin: auto;
}

@import "parts/header";
@import "parts/search_part";
@import "parts/user_info";
